[Desktop Entry]
Encoding=UTF-8
Name=Resources Monitor (fork)
Comment=Plasmoid for monitoring CPU, memory, network traffic GPU and disk IO. This is an fork from "Resources Monitor" by Kotelnik
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kotelnik,orblazer,Starrah
X-KDE-PluginInfo-License=GPL-3.0-only
X-KDE-PluginInfo-Name=org.kde.resourcesMonitor-fork
X-KDE-PluginInfo-Version=2.8.0-hotfix.1
X-KDE-PluginInfo-Website=https://github.com/orblazer/plasma-applet-resources-monitor
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=System Information
Icon=utilities-system-monitor
Name[fr]=Moniteur des ressources (fork)
Name[nl]=Systeembronmonitor (afsplitsing)
Comment[fr]=Plasmoid pour surveiller l'utilisation du CPU, de la mémoire, du traffic réseau, de la carte graphique et des disque dur. Ceci est un fork de "Resources Monitor" de Kotelnik
Comment[nl]=Een Plasmoid voor het monitoren van CPU, geheugen, netwerkverkeer GPU en disk IO. Dit is een vork uit "Resources Monitor" van Kotelnik.
