name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: dcarbone/install-jq-action@v3

      - name: Generate a changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: --verbose --latest
        env:
          OUTPUT: CHANGELOG.md

      - name: Build .plasmoid
        run: make pack

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: resources-monitor-*.plasmoid
          name: Release ${{ github.ref_name }}
          body: ${{ steps.git-cliff.outputs.content }}
